{% extends 'base.html' %}
{% block content %}
    <h1>WELCOME TO PITCH</h1>

    <div class="container">
        <div class="interview">
            
        <p>
            Write down everything you’d want a prospective employer to know about your skills, accomplishments and work experiences that are relevant to your target position. Then grab a red pen and mercilessly delete everything that’s not critical to your pitch.   
        </p>
        <form>
                <input type="text"  placeholder="comment" class="form_control">
                <input type="submit" value="comment" class="btn btn_default">
                <input type="submit" value="upvote" class="btn btn-primary">
                <input type="submit" value="downvote" class="btn btn-danger">
            </form>
        </div>
        <div class="pickup-lines">
            <p>
                I dont use pickup lines,i use my sales pitch to explain why i am the best choice you have so far.
            </p>
            <form>
                    <input type="text"  placeholder="comment" class="form_control">
                    <input type="submit" value="comment" class="btn btn_default">
                    <input type="submit" value="upvote" class="btn btn-primary">
                    <input type="submit" value="downvote" class="btn btn-danger">
                </form>
        </div>
        <div class="product">
            <p>
                A man is but the product of his thoughts what he thinks,he becomes.Business is all about the customer,what he wants and what they get.
            </p>
            <form>
                    <input type="text"  placeholder="comment" class="form_control">
                    <input type="submit" value="comment" class="btn btn_default">
                    <input type="submit" value="upvote" class="btn btn-primary">
                    <input type="submit" value="downvote" class="btn btn-danger">
                </form>
        </div>
        <div class="promotion">
            <p>
                Words have life and must be cared for. If they are stolen for ugly uses or careless slang or false promotion work, they need to be brought back to their original meaning - back to their roots.  
            </p>
            <form>
                    <input type="text"  placeholder="comment" class="form_control">
                    <input type="submit" value="comment" class="btn btn-default">
                    <input type="submit" value="upvote" class="btn btn-primary">
                    <input type="submit" value="downvote" class="btn btn-danger">
                </form>
        </div>

    </div>
{% endblock%}