{% extends 'base.html' %}
{% block content%}
<html>
    <body class="home">
    <div class="container-fluid ">
        <div class="jumborton">      
                <h2 class="text-center"><STRONG>Welcome To Pitch.Sign up for you to post a pitch and comment on it.ENJOY</STRONG></h2>     
            </div>

            <!-- <h3>INTERVIEW</h3>
            You should be able to reel off your elevator pitch at any time, from a job interview to a cocktail party conversation with someone who might be able to help you land a position.</P>
            <h4>PICK UP LINES</h4>
            <P>If you want people to buy what you are selling, then you are going to have to make them trust you
                    -->
        </div>
    </body>
</html>

{% endblock%}