{% macro displayPitches(pitches) %}
{% for pitch in pitches %}
<div class="row">
<div class="col-md-6 pitch_list">
    <p><strong>Category: </strong>{{pitch.category}}</p>
</div>
<div class="col-md-6">
    <p>Pitch Contents: {{pitch.content}}</p>
    <h4><a href="/comments/{{pitch.id}}">Comment on a pitch</a></h4>
</div>
</div>
{% endfor %}
{% endmacro %}


{% macro displayComments(comments)%}
{% for comment in comments%}        
          <h4>Comments</h4>       
          
          <p>Comments: {{comment.comment}}</p>
          <p>User: {{comment.users.username}}</p>
         
        
   
{% endfor%}
{% endmacro%}